.App-body {
    /* margin-top: 20px; */
    /* margin-right: 40px; */
    border-bottom: 3px solid #e0354b;
    padding: 15px;
    height: 25vh;
}
  
.App-body p {
    margin-left: 35px;
    
}

form {
    margin-left: 35px;
}
  
form input{
    display: inline;
    margin: 15px;
}
  