.Notifications {
    position: absolute;
    width: 450px;
    right: 10px;
    top: 30px;
    border: 2px dashed red;
    padding: 15px;
}

.menuItem {
    position: absolute;
    right: 10px;
    top: -10px;
}