div.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #e0354b;
  border-bottom: 3px solid #e0354b;
  padding: 15px;
}

.App-body {
  border-bottom: 3px solid #e0354b;
  padding: 15px;
  height: auto;
}

.App-body p {
  margin-left: 35px;
  
}

.App-footer {
  padding: 15px;
  text-align: center;
  font-style: italic;
  font-weight: 700;
}

.App-link {
  color: #61dafb;
}

form {
  margin-left: 35px;
}

form input{
  display: inline;
  margin: 15px;
}
